<header>
  <div class="header-logo">
    <a href="/">FitnessRecords</a>
  </div>
  <ul class="header-menus">
    <li>
      <a href="about">FitnessRecordsとは</a>
    </li>
  </ul>
</header>

<div class="main top-main">
  <div class="top-message">
    <h2>筋トレで世界は変わる</h2>
    <p>筋トレの成果を記録してみよう！</p>
  </div>
</div>
